@import "../mixins/layout_mixin";
header{
    @include useHeaderOrFooter("top");
}
footer{
    @include useHeaderOrFooter("bottom");
    width: 100%;

        a{
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px grey solid;
        }
}