@use "./mixins/layout_mixin";
@use "./layouts/flame";
* {
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  box-sizing: border-box;
}
html,body{
  background-color: #f5f5dcf7;
  min-height: 100vh;
}
.contaiainer {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
main {
  height: 100%;
  padding: 80px 0;
  min-height: 100vh;
}