.auth_form{
    display: grid;
    width: 38%;
    margin: 0% auto;
    @media (max-width: 500px) {
        margin: 10px auto;

    }
     input {
        margin: 10px 0;
        @media (min-width: 500px) {
            margin: 10px 0;
        }
     }
}